<h1>Products#new</h1>

<%= form_for [@category, @product] do |f| %>
	<p>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :price %>
		<%= f.text_field :price %>
	</p>
	<p><%= f.submit %></p>
<% end %>
